

#navbar{
    flex-direction: column;
    height:0;
}
#home{
    height: 420px;
    padding: 3px 70px;
   
}

#home::before{
    height: 450px;
   
}

#home p{
    font-size: 16px;
}

.h-primeary{
    font-size: 32px;
}




#services{
    flex-direction: column;
}


.purchase{
flex-wrap: wrap;
}


#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 9px;
    padding-bottom: 6px;
}

.btn{
    font-size: 16px;
    padding: 6px 12px;
}


#contact-box form{
    width:80%;
}





#services .box{
   
    padding:14px;
    margin: 2px 0px;
    margin-bottom: 20px;
    }